*.iml
.gradle
/local.properties
/.idea/*
/.idea/sonarlint
/.idea/libraries
/.idea/misc.xml
/.idea/Project_Default.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
kotlinc.xml
vcs.xml
